* @cyberark/conjur-infra-team

# Changes to .trivyignore require Security Architect approval
.trivyignore @cyberark/security-architects

# Changes to .codeclimate.yml require Quality Architect approval
.codeclimate.yml @cyberark/quality-architects

# Changes to SECURITY.md require Security Architect approval
SECURITY.md @cyberark/security-architects
